Options All -indexes
RewriteEngine On
 
# multiple file types
<FilesMatch ".(htaccess|htpasswd|ini|phps|log|sh)$">
	 Order Allow,Deny
	 Deny from all
</FilesMatch>

################ Controle de Expiração ################
ExpiresActive On
ExpiresDefault A0
<FilesMatch "\.(ico|gif|jpg|jpeg|png|swf|woff|eot)$">
	# 1 semanas
	ExpiresDefault A604800
	Header append Cache-Control "public"
</FilesMatch>
<FilesMatch "\.(js|css|html)$">
	ExpiresActive Off
</FilesMatch>